#### generate import file for machine table

In [81]:
import os
os.chdir('C:\\Users\\WDG1DCR\Desktop\\my_projects\\web\\machine_data\\notebooks')

In [82]:
import pandas as pd

In [83]:
fileName = 'endload_serialnums'

In [85]:
xl = pd.ExcelFile(f'source_data/{fileName}.xlsx')
df = xl.parse('Enterprise')

In [101]:
df.head()

,PROJECT,SERIAL #,CUSTOMER,MACHINE DESCRIPTION,BASE NUMBER,CONSIGNMENT GROUP,KITS,Carton Size,SPEED,SHIP DATE,LINE LAYOUT
0,HS5062,ENT-ABOC-101,SUGAR FOODS,"MID-RANGE, 12"" FLIGHTS, ARTICLE BUCKETS",134420,NaN,HS5149 & HS5176,NaN,NaN,NaN,NaN
1,HS5077,ENT-103,NESTLE,"ENTERPRISE H, 9"" FLIGHTS, PIC INFEED",149320,NaN,"HS5127, HS5167 & HS5241",5-7/8 x 1-1/4 x 7.32 & 5-7/8 x 1-1/16 x 7.32,210CPM,NaN,16-4296
2,HS5097,ENT-104,FURLANI'S,"ENTERPRISE, 9"" FLIGHTS, PIC INFEED WITH 90"" (8 FT) PIC EXTENSION, ENTERPRISE",147750,NaN,HS5137 & HS5177,5.250 X 2.500 X 9.000 5.250 X 3.250 X 9.000 5.250 X 3.500 X 9.000 7.125 X 4.000 X 9.500 5.250 X 3.250 X 7.500,"120CPM (A &B), 110CPM (C & D) & 60CPM (D)",2013-11-27 00:00:00,16-4339
3,HS5103,ENT-105,JOHNSONVILLE,"ENTERPRISE, 12"" FLIGHTS, PIC INFEED, LASER MESH GUARDS & TRAC-I, RIGHT ANGLE TRANSFER",154300,NaN,HS5134,5.25 X 2.50 X 9.75 10.00 X 2.75 X 9.75,130CPM,NaN,16-4359
4,HS5120,ENT-OC-108,BENCHMARK AUTOMATION / FEHR FOODS,"ENTERPRISE, 9"" FLIGHTS, PIC INFEED, OPP HAND WITH 90"" (8 FT) EXTENSION PIC",147750-001,NaN,HS5158,4.563 X 3.031 X 4.500 4.563 X 2.938 X 9.000,NaN,10/10/2014 12/5/14 1/5/15,16-4388

In [87]:
machine_columns = ['project',
                   'prodline',
                   'serialnum',
                   'customer',
                   'description']

In [88]:
df_machine = pd.DataFrame(columns=machine_columns)

In [90]:
serialnums = []

for i in df["SERIAL #"]:
    serialnums.append(i)

In [91]:
serialnums = serialnums[:10]

In [92]:
df_machine['serialnum'] = serialnums

In [93]:
df_machine.head()

  project prodline     serialnum customer description
0     NaN      NaN  ENT-ABOC-101      NaN         NaN
1     NaN      NaN       ENT-103      NaN         NaN
2     NaN      NaN       ENT-104      NaN         NaN
3     NaN      NaN       ENT-105      NaN         NaN
4     NaN      NaN    ENT-OC-108      NaN         NaN

In [95]:
df_trimmed = df[df['SERIAL #'] == df_machine['serialnum'][0]]
df_trimmed.iloc[:,0].to_string(index=False)

' HS5062'

In [96]:
for i in range(len(df_machine['serialnum'])):
    df_trimmed = df[df['SERIAL #'] == df_machine['serialnum'][i]]
    df_machine['project'][i] = df_trimmed.iloc[:,0].to_string(index=False)
    df_machine['prodline'][i] = 'Enterprise'
    df_machine['customer'][i] = df_trimmed.iloc[:,2].to_string(index=False)
    df_machine['description'][i] = df_trimmed.iloc[:,3].to_string(index=False)

In [98]:
df_machine.head()

,project,prodline,serialnum,customer,description
0,HS5062,Enterprise,ENT-ABOC-101,SUGAR FOODS,"MID-RANGE, 12"" FLIGHTS, ARTICLE BUCKETS"
1,HS5077,Enterprise,ENT-103,NESTLE,"ENTERPRISE H, 9"" FLIGHTS, PIC INFEED"
2,HS5097,Enterprise,ENT-104,FURLANI'S,"ENTERPRISE, 9"" FLIGHTS, PIC INFEED WITH 90"" (8 FT) PIC EXTENSION, ENTERPRISE"
3,HS5103,Enterprise,ENT-105,JOHNSONVILLE,"ENTERPRISE, 12"" FLIGHTS, PIC INFEED, LASER MESH GUARDS & TRAC-I, RIGHT ANGLE TRANSFER"
4,HS5120,Enterprise,ENT-OC-108,BENCHMARK AUTOMATION / FEHR FOODS,"ENTERPRISE, 9"" FLIGHTS, PIC INFEED, OPP HAND WITH 90"" (8 FT) EXTENSION PIC"

In [99]:
# required so that long strings are not truncated when exported to csv
pd.set_option("display.max_colwidth", 10000)

In [100]:
os.chdir('C:\\Users\\WDG1DCR\Desktop\\my_projects\\web\\machine_data\\external')
df_machine.to_csv('endload.csv', sep=';', index=False, header=False)