#### generate import file for machine table

In [51]:
import os
os.chdir('C:\\Users\\WDG1DCR\Desktop\\my_projects\\web\\machine_data\\notebooks')

In [52]:
import pandas as pd

In [53]:
fileName = 'endload_serialnums'

In [54]:
xl = pd.ExcelFile(f'source_data/{fileName}.xlsx')
df = xl.parse('Enterprise')

In [55]:
df.shape

(40, 11)

In [56]:
machine_columns = ['project',
                   'prodline',
                   'serialnum',
                   'customer',
                   'description']

In [57]:
df_machine = pd.DataFrame(columns=machine_columns)

In [58]:
serialnums = []

for i in df["SERIAL #"]:
    serialnums.append(i)

In [59]:
# limit to x10 machines for testing
serialnums = serialnums[:10]

In [60]:
df_machine['serialnum'] = serialnums

In [61]:
df_machine.head()

  project prodline     serialnum customer description
0     NaN      NaN  ENT-ABOC-101      NaN         NaN
1     NaN      NaN       ENT-103      NaN         NaN
2     NaN      NaN       ENT-104      NaN         NaN
3     NaN      NaN       ENT-105      NaN         NaN
4     NaN      NaN    ENT-OC-108      NaN         NaN

In [62]:
df_trimmed = df[df['SERIAL #'] == df_machine['serialnum'][0]]
# df_trimmed.iloc[:,0].to_string(index=False)

In [63]:
for i in range(len(df_machine['serialnum'])):
    df_trimmed = df[df['SERIAL #'] == df_machine['serialnum'][i]]
    df_machine['project'][i] = df_trimmed.iloc[:,0].to_string(index=False)
    df_machine['prodline'][i] = 'Enterprise'
    df_machine['customer'][i] = df_trimmed.iloc[:,2].to_string(index=False)
    df_machine['description'][i] = df_trimmed.iloc[:,3].to_string(index=False)

In [64]:
df_machine.shape

(40, 5)

In [65]:
# required so that long strings are not truncated when exported to csv
pd.set_option("display.max_colwidth", 10000)

In [66]:
# os.chdir('C:\\Users\\WDG1DCR\Desktop\\my_projects\\web\\machine_data\\external')
# df_machine.to_csv('endload.csv', sep=';', index=False, header=False)